
  
  .container {
    width: 100%;
    overflow-y: auto;
    
  }
  
  .content {
    width: 100%;
    padding: 0;
  }
  
  .pageTitle {
    font-size: 1.6rem;
    padding: 0;
    display: flex;
    margin-left: 23%;
    justify-content: center;
  }
  
  .titleContainer {
    display: flex;
    align-items: center;
    width: 100%;
    
    padding: 5% 0;
  }
  
  .goBackButton {
    cursor: pointer;
    margin-left: 45px;
    height: 1.5rem;
  }
  
  /* 채팅방 카드 스타일 */
  .chatContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #5f99cd;
    height: 100%;
    width: 100%;
  }
  
  .roomCard {
    background-color: #73B3E3; /* 카드 배경색을 지정 */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    z-index: 10; /* 다른 요소보다 높은 값 설정 */
    height: 100%;
    width: 100%;
    

  }
  
  .roomHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
    background-color: #73B3E3;
  }
  
  .roomTitle {
    font-size: 18px;
    font-weight: bold;
  }
  
  .roomInfo {
    display: flex;
    gap: 10px;
    
  }
  
  .date {
    font-size: 12px;
    color: #ffffff;
    margin-top: 6%;
    margin-left: 3%;
    margin-right: 5%;
  }
  
  .participants {
    font-size: 12px;
    color: #000000;
    
    margin-top: 6%;

  }
  
  .roomDescription {
    font-size: 1em;
  color: #333;
  margin-bottom: 20px;
  
  }
  
  .Joinbutton {
    background-color: #164891;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 4%;
    cursor: pointer;
  }
  

.app {
    /*justify-content: center;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    overflow-y: auto;  /* 스크롤 가능 */
    
    
  }





  /* 큰 화면용 스타일 (데스크탑) */
@media (min-width: 769px) {
  .titleContainer {
    padding: 20px 0;
  }

  .participants {
    font-size: 15px;
    color: #000000;
    margin-left: 20%;
    margin-top: 1%;

  }

  .date {
    font-size: 15px;
    color: #ffffff;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 5%;
  }

  .pageTitle {
    /*font-size: 2rem;*/
    margin-top: 15px;
    margin-left: 7%;
    
    
  }

  .goBackButton {
    height: 2rem;
    
    margin-left: 35%;
  }

  .roomCard {
    width: 28%;
    padding: 20px;
    margin-top: 2%;
    margin-left: 35%;
    align-items: center;
  }

 .roomTitle {
    font-size: 1.4rem;
    margin-top: 1%;
  }

  .roomDescription {
    font-size: 1.2em;
  }

  .Joinbutton {
    font-size: 1.2em;
    padding: 12px 25px;
  }

 
  
}

/* 작은 화면용 스타일 (모바일) */
@media (max-width: 768px) {



  .participants {
    font-size: 15px;
    color: #000000;
    margin-left: 20%;
    margin-top: 1%;

  }

  .date {
    font-size: 15px;
    color: #ffffff;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 5%;
  }





  .titleContainer {
    padding: 10px 0;
  }

  .pageTitle {
    font-size: 1.6rem;
    margin-top: 13%;
    margin-left: 25%;
    
  }

  .goBackButton {
    height: 1.5rem;
    margin-top: 9%;
    margin-left: 3%;
  }

  .roomCard {
    width: 75%;
    margin-left: 7%;

  }

  .roomTitle {
    font-size: 1.2rem;
    margin-top: 0%;
  }

  .roomDescription {
    font-size: 1em;
  }

  .Joinbutton {
    font-size: 1em;
    padding: 10px 20px;
  }


  /*상단바
  .app-main_mascot {
    height: 55px;
    margin-top: 30px;
  }

  .app-main_bell,
  .app-main_message,
  .app-main_my {
    height: 35px;
    margin-bottom: 30px;
  }


  /* 공지사항 텍스트 
    .title-text {
      font-size: 0.8rem ;
      margin-bottom: 40px;
    }
    
    
    /* INFO 텍스트 
    h2 {
      font-size: 1.8rem ;
      
    }

*/

}